
{% extends 'admin/base_template.html' %}
{% block page_title %}
Add your Product
{% endblock page_title %}
{% block main_content %}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/c0d12c7483.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="css/fineCrop.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">
<style>

.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}

</style>
<div class="container">
	<div class="row">
	<form class="form-horizontal" action="{%url 'add_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <!-- Form Name -->


            <!-- Text input-->
                    <div class="control-group">
                    <label class="control-label" for="full_name">Product Name</label>
                    <div class="controls">
                        <input required = True id="full_name" name="name" placeholder="Productname" class="input-xlarge" type="text" value="{{product.name}}" >
                        <p class="help-block"></p>
                    </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="course">Digital</label>
                        <div class="controls">
                        <select id="course" name="product_type" class="input-xlarge">
                            <option>False</option>
                            <option>True</option>
                        
                        </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                    <label class="control-label" >Price</label>
                    <div class="controls">
                        <input required = True id="mother_name" name="price" placeholder="price" class="input-xlarge" type="text">
                        <p class="help-block"></p>
                    </div>
                    </div>


                    <!-- File Button --> 
                    <div class="control-group">
                    <label class="control-label" for="photo"></label>
                    <div class="controls">
                        <input required = True id="imageBaseData" class="hidden" name="image64data" class="input-file" type="text" >

                        <main class="page">
                            <label class="control-label" for="full_name">Product Photo</label>
                            <!-- input file -->
                            <div class="box">
                                <input  type="file" id="file-input">
                            </div>
                            <!-- leftbox -->
                            <div class="box-2">
                                <div class="result"></div>
                            </div>
                            <!--rightbox-->
                            <div class="box-2 img-result hide">
                                <!-- result of crop -->
                                <img id="cropped" class="cropped"  src="" alt="">
                            </div>
                            <!-- input file -->
                            <div class="box">
                                <div class="options hide">
                                    <label> Width</label>
                                    <input type="number" name="myfile" class="img-w" value="300" min="100" max="1200" />
                                </div>
                                <!-- save btn -->
                                <button class="btn save hide">Confirm</button>
                                <!-- download btn -->
                                <a href="" id="" class="btn hidden">pload</a>
                                <button id="load" class="btn btn primary" type="button" >Upload</button>
                            </div>
                        </main>


                    </div>
                    </div> 


            <!-- Button -->
                <div class="control-group">
                <label class="control-label" for="submit"></label>
                <div class="controls">
                    <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="">Save</button>
                
                </div>






                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3 ml-auto">

                                        </div>
                                    </div>
                                </div>
                                    
                            </div>
                            <div class="modal-body">
                            <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 ml-auto">
                                <p >saved successfully <span style="color: blue; " ><i class="fas fa-check indigo-text pr-3"></i></span></p>
                                
                                </div>
                            </div>
                            </div>
                            </div>
                    
                        </div>
                        <div class="modal-footer">
                            <div class="text-center">
                        <button type="button" class="btn btn-primary " data-dismiss="modal">ok</button>
                        </div>
                        </div>
                </div>
            
                </div>
            </div>

                        
            </div>
        </fieldset>
    </form>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

<script>
    // vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#file-input'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', (e) => {
  if (e.target.files.length) {
		// start file reader
    const reader = new FileReader();
    reader.onload = (e)=> {
      if(e.target.result){
				// create new image
				let img = document.createElement('img');
				img.id = 'image';
				img.src = e.target.result
				// clean result before
				result.innerHTML = '';
				// append new image
        result.appendChild(img);
				// show save btn and options
				save.classList.remove('hide');
				options.classList.remove('hide');
				// init cropper
				cropper = new Cropper(img);
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
});

// save on click
save.addEventListener('click',(e)=>{
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
		width: img_w.value // input value
	}).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
	img_result.classList.remove('hide');
	// show image cropped
  cropped.src = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href',imgSrc);

});

</script>
<script>
    var button = document.getElementById('load');
    button.addEventListener('click',function(){
        setImageData();
        console.log('Clicked')
    })
    

    function setImageData(){
        alert('clicked')
        var imageElement = document.getElementById('cropped');
        var imageData = imageElement.src;
        var hiddenElement = document.getElementById("imageBaseData");
        hiddenElement.value = imageData;
        console.log("data set")
    }
</script>


{% endblock main_content %}