{% extends 'admin/base_template.html' %}
{% block page_title %}
<h3 style="margin-left: 2em;" >Customers</h3>
{% endblock page_title %}
{% block main_content %}



<div style="padding-left: 1em;" class="row" >
    
    <div class="col-lg-12">


   

        <div style="  padding-left: 3em; margin-left: 1em; " class="box-element" >
            <div class="cart-row"  >
                
                <div style="flex:1" ><strong>Name</strong></div>
                
                <div style="flex:1" ><strong>User</strong></div>
                <div style="flex:1" ><strong>email</strong></div>
                <div style="flex:1" ><strong>Orders</strong></div>


            </div>



            {% for customer,items in data %}
            <div class="cart-row" >
                <div style="flex:1" >{{customer.name}}</div>
            
                <div style="flex:1" >{{customer.user}}</div>
               
                <div style="flex:1" > {{customer.email}}</div>

                <div style="flex:1" > {{items}}</div>
               
            
            </div>
            
            {% endfor %}


        </div>


    </div>

</div>



{% endblock main_content %}