{% extends 'admin/base_template.html' %}
{% block page_title %}
Orders
{% endblock page_title %}
{% block main_content %}



<div class="row" >
    
    <div class="col-lg-12">


   

        <div style="margin-left: 1em;  " class="box-element" >
            <div class="cart-row"  >
                <div style="flex:1  " ><strong> Order Id</strong></div>
                <div style="flex:1  " ><strong> Customer</strong></div>
                <div style="flex:1" ><strong>Date </strong></div>
                <div style="flex:1  " ><strong>Order Status</strong></div>
                <div style="flex:1" ><strong></strong></div>
                

            </div>



            {% for order in orders %}
            <form action="{% url 'update_order_status' order.id %}" method="POST" >
            {% csrf_token %}
            <div class="cart-row" >
                <div style="flex:1" >{{order.id}}</div>
                <div style="flex:1" >{{order.customer}}</div>
            
                <div style="flex:1  " >{{order.date_ordered}}</div>
               
                <!-- <div style="flex:1" >{{order.order_status}}</div> -->

                <div style="flex:1" >
                    <select name="status" id="">
                        <option>{{order.order_status}}</option>
                        <option>Pending</option>
                        <option>Completed</option>
                        <option>Out for delivery</option>

                        


                    </select>
                
                
                </div>


                <div style="flex:1"  ><button type="submit" class="btn btn-primary rounded" >Update</button></div>
                
            </div>
            </form>
            {% endfor %}


        </div>


    </div>

</div>



{% endblock main_content %}
