{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}

<div class="row" >
    <div class="col-lg-6" >

        <div class="box-element" id="form-wrapper" >

            <form id="form" action="">
                
                <div id="user-info" >
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>

                </div>

                <div id="shipping-info" >
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>

                    <div class="form-field">
                        <select class="form-control" name="country" placeholder="Country" id="">  
                            {% for i in c %}
                            <option class="form-control" type="text" name="country" value="{{ i.name }}" >{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="continue" >

            </form>

        </div>

        <div class="box-element hidden" id="payment-info" >

            <small>Payment</small>
            <div id="paypal-button-container"></div>
            <button id="rzp-button1" class="btn btn-danger" style="width:100%" >Pay with Razorpay</button>
            <!-- <button id="make-payment" >Make payment</button> -->

        </div>

    </div>
    <div class="col-lg-6" >

        <div class="box-element"  >
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to cart</a>

            <hr>
            <h3>Order details</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>${{item.product.price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}

            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>


        </div>

    </div>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    
    var options = {
        "key": "rzp_test_aVR1IKDghGVJcq", // Enter the Key ID generated from the Dashboard
        "amount": "{{order.get_cart_total|floatformat:2}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "USD",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": '{{order_id}}', //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            /*alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)*/
            submitFormData()
        },
        
        "prefill": {
            
            "name": "{{user.username}}",
            "email": "{{user.email}}",
            "contact": "{{user.last_name}}"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    
</script>

<script src="https://www.paypal.com/sdk/js?client-id=AYS7GUbo-6vdHYH3XozfGAqRPC_gXJ9aNyvNEHFxdrx58dnwIJYK6egMv1nn-NgaJLZupm3Y5ZL4LEiR&currency=USD&disable-funding=credit"></script>

<script>
    var total = '{{order.get_cart_total|floatformat:2}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                submitFormData()
            });
        }


    }).render('#paypal-button-container');
</script>

<script type="text/javascript" >

    var shipping = '{{order.shipping}}'
    

    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }

    if(shipping == 'False' && user !='AnonymousUser'){

        document.getElementById('form-wrapper').classList.add('hidden')

        document.getElementById('payment-info').classList.remove('hidden')
    }

    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

   /* document.getElementById('make-payment').addEventListener('click', function(e){

        submitFormData()
    })*/

    function submitFormData(){
        console.log('payment button clicked')

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
            'country': null,

        }

        if(shipping != 'False'){

            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            shippingInfo.country = form.country.value


        }


        if(user == 'AnonymousUser'){

            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        var url = '/process_order/'

        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
    
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
    
        })
        .then((response)=>{return response.json()})
        .then((data)=>{
            console.log('Success:',data);

            alert('Transaction Completed');

            cart = {}
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

            window.location.href = "{% url 'store' %}"
        })

    }

</script>

{% endblock content %}