{% extends 'store/main.html' %}
{% load static %}

{% block content %}


    <div class='row'>

        {% for product in products %}
        <div class="col-lg-4">
            <!-- <button style="text-decoration: none; border:none " data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" ><img style="text-decoration: none;" class="thumbnail" src="{{product.imageURL}}" alt=""></button> -->
            <a   href="{% url 'product' product.id %}"><img style="text-decoration: none;" class="thumbnail" src="{{product.imageURL}}" alt=""></a>
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" >Add to Cart</button>
                <a  class="btn btn-outline-success" href="{% url 'product' product.id %}">View</a>
                <h4 style="display: inline-block; float: right;" >${{product.price|floatformat:2}}</h4>
            </div>
        
        </div>
        {% endfor %}

        

    </div>

{% endblock content %}